.skills__list {
  padding: 0 1em;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 0.5em;
}

.skill-box {
  width: 130px;
  height: 125px;
  padding: 22.5px 10px;
  border-radius: 15px;
  border: 2px solid;
  border-color: rgba(0, 0, 0, 0.05);
}

.skill-box:hover {
  /* border-color: var(--clr-primary); */
  background-color: var(--box-bg);
}

.skills-text {
  /* font-size: 1.5em;
  font-weight: 600; */
  text-align: center;
}

.skills-img {
  /* width: 100px;
  height: 100px; */
  margin: 0 auto;
  text-align: center;
}